* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f6eadc;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

img {
    width: 100px;
    height: 100px;
    padding: 5px;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.balance-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 100px;
    background: #eb755d;
    border-radius: 15px;
    padding: 20px;
    color: #fff; 
}

.balance-text {
    font-weight: lighter;
}

.amount-text {
    font-size: 25px;
    font-weight: bold;
}

.spending-text {
    font-size: 20px;
    font-weight: bold;
    color: #312519;
}

.spending-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
    height: 412px;
    border-radius: 15px;
    background: #fffbf6;
    padding: 30px;
}

.weekdays-container{
    display: flex;
    gap: 15px;
    /* justify-content: space-between; */
    align-items: center;
    width: 390px;
    height: 200px;  
}

.bar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    text-align: center;
}

.chart-bar {
    width: 40px;
    height: 50%;
    background: #eb755d;
    border-radius: 5px;
}

.monday-bar {
    height: 30%;
}
.tuesday-bar {
    height: 60%;
}
.wednesday-bar {
    background-color: #76b5bb;
    height: 80%;
}
.thursday-bar {
    height: 40%;
}
.friday-bar {
    height: 20%;
}
.saturday-bar {
    height: 46%;
}
.sunday-bar {
    height: 40%;
}

hr {
    width: 97%;
    border: 0;
    border-top: 1px solid #cac7bf;
}

.total-container {
    display: flex;
    justify-content: space-between;
}

.total-label {
    font-size: 14px;
    color: #a19e96;
}

.total-amount {
    font-size: 30px;
    font-weight: bold;
    color: #3b2a1b;
}

.percentage-amount {
    text-align: right;
    color: #3b2a1b;
}

.last-month-lable {
    color:#a19e96;
}